<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>




      <%= require('html-loader!./assets/html/head.html') %>




  </head>

    <div class=" blue-theme  ">
  <%= require('html-loader!./assets/html/navbar.html') %>



<div class="page-container" id="home">





        <div class="title has-text-centered is-hidden-mobile">Simple nametags for Ethereum</div>

        <div class="whitespace-sm"></div>

      </div>

      <section class="hero  ">
        <div class="hero-body">
          <div class="  has-text-centered">


            <div class="columns">

              <div class="column">
                    LOGO ?

                    recently registered ???
              </div>

              <div class="column">

                <div class="whitespace-md"></div>


                <h1 class="title font-primary-title color-primary">
                 </h1>




                <p class="color-primary" style="max-width:60%;margin: 0 auto;">
                  Simple nametags for Ethereum
                 </p>


              </div>

            </div>



          </div>
        </div>
      </section>


    </div>
    <div class="page-container"  >


      <div id="dashboard" class="box  has-small-text-mobile" style="overflow-x:auto; min-height:480px;">

        Check to see if an alias is available...uses Vue
        <div class="alias-search-container">
          <input class="alias-search">
        </div>

        ->   register that alias
      </div>






      <div id="guide" class="box has-text-centered">

        <div class="columns">

              <div class="column">

                    Download the NPM library with code to help

              </div>


              <div class="column">

              </div>


          </div>

      </div>









  </div>



      <%= require('html-loader!./assets/html/footer.html') %>


      <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="icon-arrow-up"></i></a>


  </body>

</html>
